/*--------------- basic styling --------------- */

html,
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}


/*-----------------------------------------------------
----------------- typewriter effect -------------------
---------------------------------------------------- */






/*-----------------------------------------------------
----------------- navigation --------------------------
---------------------------------------------------- */








/*-----------------------------------------------------
----------------- hero section ------------------------
---------------------------------------------------- */






/*-----------------------------------------------------
----------------- scroll down icon animation -----------
---------------------------------------------------- */










/*-----------------------------------------------------
----------------- projects section --------------------
---------------------------------------------------- */















/*-----------------------------------------------------
----------------- footer section ----------------------
---------------------------------------------------- */
















/*-----------------------------------------------------
----------------- work page ---------------------------
---------------------------------------------------- */


















/*-----------------------------------------------------
-----------------about page ---------------------------
---------------------------------------------------- */












/*-----------------------------------------------------
------------------- contact form ----------------------
---------------------------------------------------- */
















/*-----------------------------------------------------
----------------------- project page ------------------
---------------------------------------------------- */