* {
	margin: 0;
	box-sizing: border-box;
	color: #34404b;
	font-family: 'Open Sans Condensed', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	width: 100%;
}